In [2]:
# Python Programs

In [24]:
# Write a program to convert Roman Numerals Literals to integer
'''
Roman Numerals - MCM -> IF current M > previous C: M - 2C ELSE CURRENT M
'''
def roman_to_integer(s):
    values = {
            'I':1,'V':5, 'X':10, 'L':50, 'C':100,'D':500, 'M':1000
    }
    sum=0
    for i in range(len(s)):
        if i > 0  and values[s[i]] > values[s[i-1]]:
            sum += values[s[i]]-2*values[s[i-1]]
        else:
            sum += values[s[i]]
    return sum
roman_to_integer('MCM')

1900

In [78]:
# Write a program to convert integer to Roman Numerals Literals
# Recursive
def int_to_roman(num):
    table = {
        1: 'I',
        5: 'V',
        10: 'X',
        50: 'L',
        100: 'C',
        500: 'D',
        1000: 'M'
    }
    if num == 0:
        return ''
    if num in table:
        return table[num]
    
    base_value = 0
    for value in table:
        if base_value < value < num :
            base_value = value
    return ((num//base_value) * table[base_value]) + int_to_roman(num % base_value)
     
int_to_roman(1994)

'MDCCCCLXXXXIIII'

In [76]:
# Non Recursive

def int_to_roman(num):
    table = {
            1: 'I',
            5: 'V',
            10: 'X',
            50: 'L',
            100: 'C',
            500: 'D',
            1000: 'M'
        }
    roman = ""    

    while num:

        if num == 0:
            return roman

        if num in table:
            return roman + table[num]


        base_value = 0
        for value in table:
            if base_value < value < num:
                base_value = value

        roman += ((num // base_value) * table[base_value])
        num = num % base_value

    return  roman

In [79]:
int_to_roman(1994)

'MDCCCCLXXXXIIII'

In [81]:
# Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

# You may assume that each input would have exactly one solution, and you may not use the same element twice.

# You can return the answer in any order.

# Input: nums = [2,7,11,15], target = 9
# Output: [0,1]
# Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

In [108]:
nums = [2,7,11,15]
target = 25

(0, 2)
(1, 7)
(2, 11)
(3, 15)

In [ ]:
divmod()

In this kata you are required to, given a string, replace every letter with its position in the alphabet.

If anything in the text isn't a letter, ignore it and don't return it.

"a" = 1, "b" = 2, etc.

In [179]:
#solution 1
def alphabet_position(text):
    alphabet = {
        'a':1,'b':2,'c':3,'d':4,'e':5,'f':6,'g':7,'h':8,'i':9,'j':10,
        'k':11,'l':12,'m':13,'n':14,'o':15,'p':16,'q':17,'r':18,'s':19,'t':20,
        'u':21,'v':22,'w':23,'x':24,'y':25,'z':26
    }
    pos = ''
    for alpha in text.lower():
        if alpha in alphabet:
            pos += str(alphabet[alpha]) + ' '
    return pos.strip()

In [172]:
# solution 2
def alphabet_position(text):
    return ' '.join(str(ord(c) - 96) for c in text.lower() if c.isalpha())

In [180]:
alphabet_position("The sunset sets at twelve o' clock.")

'20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11'

Deoxyribonucleic acid (DNA) is a chemical found in the nucleus of cells and carries the "instructions" for the development and functioning of living organisms.

If you want to know more: http://en.wikipedia.org/wiki/DNA

In DNA strings, symbols "A" and "T" are complements of each other, as "C" and "G". Your function receives one side of the DNA (string, except for Haskell); you need to return the other complementary side. DNA strand is never empty or there is no DNA at all (again, except for Haskell).

More similar exercise are found here: http://rosalind.info/problems/list-view/ (source)

In [218]:
def DNA_strand(dna):
    comp = {
        'A':'T',
        'T':'A',
        'C':'G',
        'G':'C'
    }
    return ''.join(str(comp[strand]) for strand in dna)

In [219]:
DNA_strand("AAAA")

'TTTT'

In [212]:
def DNA_strand(dna):
    comp = {
        'A':'T',
        'T':'A',
        'C':'G',
        'G':'C'
    }
    test = ''
    for strand in dna:
        if strand in comp:
            test += comp[strand]
    return test

In [213]:
DNA_strand("AAAA")

'TTTT'

In [214]:
import string
def DNA_strand(dna):
    return dna.translate(string.maketrans("ATCG","TAGC"))
    # Python 3.4 solution || you don't need to import anything :)
    # return dna.translate(str.maketrans("ATCG","TAGC"))

Your task is to sort a given string. Each word in the string will contain a single number. This number is the position the word should have in the result.

Note: Numbers can be from 1 to 9. So 1 will be the first word (not 0).

If the input string is empty, return an empty string. The words in the input String will only contain valid consecutive numbers.

In [365]:
import re
def order(sentence):
    words = sentence.split()
    dict_words = {}
    # create dictionary with keys
    for word in words:
        for pos in word:
            if pos.isdigit():
                dict_words[pos]=word
#                 dict_words[pos]=re.sub(r'[0-9]','',word) # remove digits from words
    res = ' '.join(str(dict_words[pos]) for pos in sorted(dict_words.keys())) # sort values according to position
    return res

In [366]:
order("is2 Thi1s T4est 3a")

'Thi1s is2 3a T4est'

In [367]:
def order(words):
    return ' '.join(sorted(words.split(), key=lambda w:sorted(w)))

In [368]:
order("is2 Thi1s T4est 3a")

'Thi1s is2 3a T4est'

In [369]:
# Max From Common DataFrames
# Input parameters
# Two pandas.DataFrame objects

# Task
# Your function must return a new pandas.DataFrame with the same data and columns from the first parameter. For common columns in both inputs you must return the greater value of each cell for that column.

# You must not modify the original inputs.

# Input DataFrame will never be empty. The number rows of both inputs will be the same.

# Examples
# Inputs
#    A    B    C
# 0  2.5  2.0  2.0
# 1  2.0  2.0  2.0
#    C    B    D    E
# 0  1.0  6.0  7.0  1.0
# 1  8.5  1.0  9.0  1.0
# Output
#    A    B    C
# 0  2.5  6.0  2.0
# 1  2.0  2.0  8.5

In [390]:
import pandas as pd
df_a = pd.DataFrame([[2.5,2.0,2.0],[2.0,2.0,2.0]], columns=['A','B','C'])
df_b = pd.DataFrame([[1.0,6.0,7.0,1.0],[8.5,1.0,9.0,1.0]], columns=['C','B','D','E'])

In [417]:
def max_common(df_a, df_b): 
    df_c = pd.concat([df_a, df_b]).max(level=0)
    return df_c[df_a.columns]

In [419]:
max_common(df_a, df_b)

C:\Users\Starlord\AppData\Local\Temp/ipykernel_15428/2123832366.py:2: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  df_c = pd.concat([df_a, df_b]).max(level=0)

     A    B    C
0  2.5  6.0  2.0
1  2.0  2.0  8.5

In [430]:
def max_common(df_a, df_b):
    return pd.concat([df_a, df_b]).filter(items=df_a.columns).groupby(level=0).max()

In [431]:
max_common(df_a, df_b)

     A    B    C
0  2.5  6.0  2.0
1  2.0  2.0  8.5

Write an algorithm that takes an array and moves all of the zeros to the end, preserving the order of the other elements.

In [463]:
def move_zeros(lst):
    non_zero = [element for element in lst if element != 0]
    zero = [element for element in lst if element == 0]
    return non_zero + zero

In [464]:
move_zeros([1, 0, 1, 2, 0, 1, 3])

[1, 1, 2, 1, 3, 0, 0]

In [465]:
def move_zeros(array):
    return sorted(array, key=lambda x: x==0 and type(x) is not bool)

In [466]:
move_zeros([1, 0, 1, 2, 0, 1, 3])

[1, 1, 2, 1, 3, 0, 0]

In [470]:
# Given two arrays of strings a1 and a2 return a sorted array r in lexicographical order of the strings of a1 which are substrings of strings of a2.

# Example 1:
# a1 = ["arp", "live", "strong"]

# a2 = ["lively", "alive", "harp", "sharp", "armstrong"]

# returns ["arp", "live", "strong"]

# Example 2:
# a1 = ["tarp", "mice", "bull"]

# a2 = ["lively", "alive", "harp", "sharp", "armstrong"]

# returns []

# Notes:
# Arrays are written in "general" notation. See "Your Test Cases" for examples in your language.
# In Shell bash a1 and a2 are strings. The return is a string where words are separated by commas.
# Beware: In some languages r must be without duplicates.

In [528]:
def in_array(array1, array2):
    r = sorted(set([el for el in array1 for element in array2 if el in element]))
    return(r)

In [529]:
a1 = ["live", "arp", "strong"] 
a2 = ["lively", "alive", "harp", "sharp", "armstrong"]
# r = ['arp', 'live', 'strong']

In [530]:
in_array(a1, a2)

['arp', 'live', 'strong']

In [531]:
def in_array(array1, array2):
    r = []
    for element in array1:
        for ele in array2:
            if element in ele:
                r.append(element)
    return list(set(sorted(r)))

In [532]:
in_array(a1, a2)

['live', 'arp', 'strong']

In [533]:
def in_array(a1, a2):
    return sorted({sub for sub in a1 if any(sub in s for s in a2)})

In [534]:
in_array(a1, a2)

['arp', 'live', 'strong']

In [535]:
# The Fibonacci numbers are the numbers in the following integer sequence (Fn):

# 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, ...

# such as

# F(n) = F(n-1) + F(n-2) with F(0) = 0 and F(1) = 1.

# Given a number, say prod (for product), we search two Fibonacci numbers F(n) and F(n+1) verifying

# F(n) * F(n+1) = prod.

# Your function productFib takes an integer (prod) and returns an array:

# [F(n), F(n+1), true] or {F(n), F(n+1), 1} or (F(n), F(n+1), True)
# depending on the language if F(n) * F(n+1) = prod.

# If you don't find two consecutive F(n) verifying F(n) * F(n+1) = prodyou will return

# [F(n), F(n+1), false] or {F(n), F(n+1), 0} or (F(n), F(n+1), False)
# F(n) being the smallest one such as F(n) * F(n+1) > prod.

# Some Examples of Return:
# (depend on the language)

# productFib(714) # should return (21, 34, true), 
#                 # since F(8) = 21, F(9) = 34 and 714 = 21 * 34

# productFib(800) # should return (34, 55, false), 
#                 # since F(8) = 21, F(9) = 34, F(10) = 55 and 21 * 34 < 800 < 34 * 55
# -----
# productFib(714) # should return [21, 34, true], 
# productFib(800) # should return [34, 55, false], 
# -----
# productFib(714) # should return {21, 34, 1}, 
# productFib(800) # should return {34, 55, 0},        
# -----
# productFib(714) # should return {21, 34, true}, 
# productFib(800) # should return {34, 55, false}, 
# Note:
# You can see examples for your language in "Sample Tests".

Best Solution

In [417]:
def productFib(prod):
    a, b = 0, 1
    while prod > a * b:
        a, b = b, a + b
        print(a,b)
    return [a, b, prod == a * b]

In [418]:
productFib(100)

1 1
1 2
2 3
3 5
5 8
8 13

[8, 13, False]

Solution 2

In [333]:
# F(n) = F(n-1) + F(n-2) with F(0) = 0 and F(1) = 1.
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)

In [334]:
fib(10)

55

In [12]:
def fib_series(i):
    return [fib(i) for i in range(i)]

In [42]:
fib_list = fib_series(30)

In [ ]:
 l=[]
    t = []
    for i in range(0,len(fib_list)):
        for j in range(i, len(fib_list)):
            if fib_list[i] * fib_list[j] < prod:
                l.append(fib_list[i])
                l.append(fib_list[j])
            elif fib_list[i] * fib_list[j] == prod:
                t.append(fib_list[i])
                t.append(fib_list[j])

    if len(t) == 0:
        t=[l[:][-1]]
        elem = fib_list.index(t[0])
        t.append(fib_list[elem+1])
        t.append(False)
    else:
        t.append(True)
    return t

Solution 3

In [411]:
from functools import lru_cache

@lru_cache(None)
def fib(n):
    if n in (0, 1):
        return 1
    if n & 1:  # if n is odd, it's faster than checking with modulo
        return fib((n+1)//2 - 1) * (2*fib((n+1)//2) - fib((n+1)//2 - 1))
    a, b = fib(n//2 - 1), fib(n//2)
    return a**2 + b**2

In [409]:
target = 4895
res = [[fib_list[i],fib_list[j],True] for i in range(0,len(fib_list)) for j in range(i,len(fib_list))  if fib_list[i]*fib_list[j] ==  target]
res = [item for sublist in res for item in sublist]
if len(res) ==0:
    res=[[fib_list[i],fib_list[j]] for i in range(0,len(fib_list)) for j in range(i,len(fib_list))  if fib_list[i]*fib_list[j] <  target][:][-1][-1]
    res_index = fib_list.index(res)
    res = [res, fib_list[res_index+1],False ]

In [410]:
res

[55, 89, True]

In [1]:
# Write a function, persistence, that takes in a positive parameter num and returns its multiplicative persistence, which is the number of times you must multiply the digits in num until you reach a single digit.

# For example (Input --> Output):

# 39 --> 3 (because 3*9 = 27, 2*7 = 14, 1*4 = 4 and 4 has only one digit)
# 999 --> 4 (because 9*9*9 = 729, 7*2*9 = 126, 1*2*6 = 12, and finally 1*2 = 2)
# 4 --> 0 (because 4 is already a one-digit number)

In [160]:
import operator
import functools
def persistence(n):
    i = True
    count = 0
    while i==True:
        digits = [int(a) for a in str(n)]
        if len(digits) == 1:
            i = False
            return count
        n = functools.reduce(operator.mul, digits)
        count+=1

In [161]:
persistence(39)

3

In [164]:
import operator
import functools

def persistence(n):
    i = 0
    while n>=10:
        n=functools.reduce(operator.mul,[int(x) for x in str(n)],1)
        i+=1
    return i

In [165]:
persistence(39)

3